/* This is the style sheet for the doctorDashboard.html */
/*
** Table Header (`.table-header`) **
*/
.table-header {
    font-size: 24px;
    color: #015c5d;
    margin-bottom: 30px;
    margin-right: 0;
}

/*
** Table Styling (`table`) **
*/
#patientTable {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 20px;
}

/*
** Table Head (`thead`) **
*/
#patientTable thead {
    background-color: #33333310;
    color: #fff;
}

/*
** Table Cells (`td, th`) **
*/
#patientTable td,
#patientTable th {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/*
** Table Row Styling **
*/
#patientTable tbody tr:nth-child(even) {
    background-color: #f9f9f959;
}

#patientTable tbody tr:nth-child(odd) {
    background-color: #ffffffc0;
}

#patientTable tbody tr:hover {
    background-color: #015c5d39;
}

/*
** Prescription Button (`.prescription-btn`) **
*/
.prescription-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.prescription-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.prescription-btn:active {
    transform: scale(0.95);
}

/*
** No Record Message (`.noPatientRecord`) **
*/
.noPatientRecord {
    font-size: 16px;
    font-style: italic;
    color: grey;
    text-align: center;
    padding: 20px;
}

/*
** Today Button (`.today-btn`) **
*/
.today-btn {
    margin-right: 10px;
    padding: 10px;
    background-color: #015c5d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*
** Date Picker (`.date-picker`) **
*/
.date-picker {
    margin-left: 10px;
    margin-top: 13px;
    border-radius: 8px;
    padding: 10px;
    height: 30px;
}
